@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/**************** FONTS AND TEXT ***************/
body {
  margin: 0;
  font-family: "Roboto", "Arial", "Verdana", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.MonospaceFont {
  font-family: "Roboto Mono", monospace;
}

.BlueMeadowTitle {
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 800;
}

.SectionHeader {
  font-size: 18px;
  font-weight: 800;
}

.SectionBodyText {
  font-size: 24px;
}

.SectionStandoutText {
  font-family: "Work Sans", "Arial", "Verdana", "sans-serif";
  font-feature-settings: "liga";
  font-size: 30px;
}

.HeaderFont {
  font-family: "Work Sans", "Arial", "Verdana", "sans-serif";
  font-feature-settings: "liga";
  font-size: 30px;
}

.CitationFont {
  font-size: 10px;
}

/**************** COLORS ***************/
.ColorBlack {
  color: black;
}

.BackgroundWhite {
  background-color: white;
}

.BackgroundGray {
  background-color: #f5f5f5
}

.ColorMeadowBlue {
  color: #3D5AFE
}

/**************** COMPONENTS ***************/
.CardWithoutBorder {
  border: none;
  background: transparent;
}
